<div>
  <mat-toolbar color="primary">
    <span><mat-icon>menu_book</mat-icon></span>
    <span>Book Manager</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      Total Pages: {{getTotalPages() | number}}
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <table>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Pages</th>
          <th></th>
        </tr>
        <tr *ngFor="let book of bookList; index as index">
          <td>{{book.name}}</td>
          <td>{{book.author}}</td>
          <td>{{book.pages | number}}</td>
          <td class="actions-column">
            <button mat-icon-button (click)="editBook(book)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteBook(index)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addBook()">Add</button>
    </mat-card-actions>
  </mat-card>

</div>